# Byte-compiled / optimized / DLL files
__pycache__/
clinical_asl_pipeline/__pycache__/
clinical_asl_pipeline/utils/__pycache__/

*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings (optional, you can include settings.json if needed)
.vscode/

# MacOS / Linux / Windows junk files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.bak
*.swp
*.swo
*~

# Local data / outputs (if you have output folders that should not go to git)
# Example:
# test scripts:
python/run_for_Vstudio_testing_pipeline.py
# outputs/
# results/